.page-title{

    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/team.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.page-title h3{

    font-size: 70px;
}