.create-new-blog{

    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-new-blog-inner{
    width: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.create-new-blog-title{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-text);
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.the-main-editor{

    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    height: 0px;
    transition: 1s;
    /* display: none; */
}

.showeditor{

    animation: showeditor 1s;
    animation-fill-mode: both;
}

@keyframes showeditor{

    0%{
        
        height: 0px;
    }
    100%{

        height: 800px;
    }
}

.removeeditor{

    animation: removeeditor 1s;
    animation-fill-mode: both;
}


@keyframes removeeditor{

    0%{
        
        height: 800px;
    }
    100%{

        height: 0px;
        display: none;
    }
}

.all-your-blogs{

    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.all-your-blogs-inner{

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.all-your-blogs-header{

    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--white-text);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all-your-blogs-header input{

    width: 300px;
    padding: 10px;
    outline: 0;
    border: 2px solid white;
    border-radius: 15px;
}

.all-the-blogs-array{

    width: 100%;
    padding-bottom: 20px;
}

.single-blog{

    width: 300px;
    /* height: 600px; */
    max-height: 800px;
    overflow: hidden;
    max-height: 700px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    vertical-align: bottom;
}
.single-blog-image{

    width: 100%;
}
.single-blog-image img{

    max-width: 100%;
    max-height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.single-blog-title{

    width: 100%;
    text-align: left;
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 10px;
}
.single-blog-snippet{

    width: 100%;
    height: 200px;
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin-bottom: 15px;
}

.single-blog-controls{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.single-blog-controls button{

    width: 100px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: var(--primary-color);
    color: var(--white-text);
    font-size: 15px;
    cursor: pointer;
}
.single-blog-controls button:disabled{

    cursor: not-allowed;
}
.loading-state{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loading-state img{

    max-width: 100px;
}

.empty-state{

    width: 100%;
    text-align: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}