
:root{

    --primary-color: blueviolet;
    --white-color: white;
    --white-text: white;
}

body{

    display: flex;
    justify-content: space-between;
}

.dashboard-sidebar{

    position: fixed;
    height: 100%;
    width: 250px;
    background-color: var(--primary-color);
}

.dashboard-main-page{

    position: fixed;
   width: 1117px;
    height: 100%;
    right: 0;
    top: 60px;
    background-color: var(--white-color);
    overflow-x: hidden;

}
.dashboard-header{
    position: fixed;
    height: 60px;
    width: 1117px;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: var(--primary-color);
}
.sidebar-inner{

    position: relative;
    height: 100%;
    width: 100%;
}
.dashboard-brandname{
    width: 90%;
    padding: 20px;
   
    color: white;
}
.dashboard-brandname h3{

    font-size: 35px;
    text-align: center;
}



/* the dashboard header */


.dashboard-header{

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-header-inner{
width: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
padding-right: 15px;
}
.user-image-name{

    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user-name{

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.user-name p{

    margin-right: 5px;
    text-transform: uppercase;
}

.userimage{

    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.userimage img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    max-width: 100px;
    overflow: hidden;
}
.sidebar-buttons{

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}


.single-button{

width: 80%;
display: flex;
align-items: center;
color: var(--white-text);
font-size: 20px;
font-weight: bold;
cursor: pointer;
transition: 0.4s;
padding: 15px;
margin-top: 20px;
}
.single-button:first-child{
    margin-top: 0;
}
.single-button p{
    margin-left: 20px;
}

.single-button:hover{

margin-left: 25px;
}

.active-sidebar-btn{

    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 15px;
    border-radius: 15px;
}






/* ========== NO STYLING IN THIS MEDIA  */


@media (min-width: 1308px){

    .mobile-sidebar{

        display: none;
    }

}


@media (max-width: 1308px) { 

.dashboard-sidebar{

    display: none;
animation: sidein 0.6s;
z-index: 15;
}

@keyframes sidein{

    from{
                transform: translateX(-100%);
    }
    to{

        transform: translateX(0);
    }
}

.dashboard-main-page{

    width: 100%;
}
.dashboard-header{
width: 100%;
}

.dashboard-header-inner{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.mobile-sidebar{

    font-weight: bold;
    font-size: 25px;
    color: var(--white-color);
    
    margin-right: 15px;
    cursor: pointer;
}




}