



.first{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

.latest-post-button{

    width: 350px;
}

.latest-post-inner{

    background-color:var(--latest-white);
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;

}

.latest-post-inner .latest-post-left{

    width: 150px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: var(--primary-color);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--white-text);
}



.latest-post-inner .latest-post-right{

        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--black-text);
        font-size: 15px;

}



.hero-title{

    width: 70%;
    margin-top: 25px;

    
}

.hero-title h1{

    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--black-text);
}

.hero-description{

    margin-top: 35px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: var(--black-text);
}

.hero-buttons{
width: 50%;
margin-top: 100px;
display: flex;
align-items: center;
justify-content: center;


}
.hero-buttons a{

    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white-text);
     text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;

}

.featured-blog{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1000px;
    margin-bottom: 100px;
    margin-top: 50px;

}

.featured-inner{

    position: relative;

    width: 90%;

}

.featured-inner .main1{

    width: 100%;
    max-height: 500px;
    overflow: hidden;
}


.featured-inner .main1 img{

    max-width: 100%;
    
}

.blog-contents{

    width: 100%;
    
    position: absolute;
    top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.blog-contents .content-inner{
    background-color: var(--white-color) ;
    width: 90%;
    box-shadow: 0 0 24px rgba(0, 0, 0, .08);

}

.blog-contents .right {
    width: 40%;
    transform: scale(0.9);

}
.blog-contents .left{
    width: 60%;
    transform: scale(0.9);
}
.content-inner{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.blog-contents .right .top{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category1{

    font-size: 15px;
    color: var(--gray-color);
    margin-bottom: 20px;
}

.blog-title{

    margin-bottom: 20px;
    font-size: 20px;
}

.blog-title a{

    text-decoration: none;
    color: var(--black-text);
}

.blog-title a:hover{

    color: var(--primary-color);
}
.blog-snippet{

    width: 65%;
    color: var(--gray-color);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}

.right .top h3{

    font-size: 15px;
}

.tag-btn1{

    border: 1px solid var(--gray-color);
    color: var(--gray-color);
    padding: 10px;
    border-radius: 15px;
    font-size: 10px;
    width: 100%;
    transition: 0.4s;
}

.blog-contents .tag-btn1:hover, .blog-contents .tag-btn2:hover{

    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--white-text);
}
.minutes-read{
    font-weight: bold;
    color: var(--gray-color) ;
}






/* The section to display the blogs */

.blog-display{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.blog-display .display-inner{

    width: 90%;
  

}
.blogs-single-item{

    width:400px;
    /* padding: 20px; */
    display: inline-block;
    max-height: 700px;
    overflow: hidden;
    margin-left: 20px;
    align-items: center;
    margin-top: 10px;
    vertical-align: bottom;
}
.blogs-single-item .single-item-top img{

    max-width: 100%;
    border-radius: 15px;
    transition: 0.6s;
    max-height: 300px;
}

.blogs-single-item .single-item-top{

    width: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.blogs-single-item .single-item-top:hover img{

    transform: scale(1.2);
}


.author-date{

    width: 300px;
    background-color: var(--darker-gray);
    padding: 10px;
    color: var(--black-text);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-title-second{

    font-size: 15px;
    margin-bottom: 15px;
}
.blog-title-second a{

    text-decoration: none;
    color: var(--black-text);
}
.blog-title-second a:hover{

    color: var(--primary-color);
}
.blog-snippet-second{

    color: var(--gray-color);
    font-weight: bold;
}

hr{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    height: 3px;
}
.grid-title{

    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--black-text);
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}










/* ======= RESPONSIVENESS =====*/

@media all and (max-width: 1249px) { /* your content here */ 

    .blogs-single-item{

        width: 300px;
        margin-left: 25px;
    }

    .author-date{
        width: 200px;
        font-size: 10px;
    }

    .hero-title h1{
        font-size: 50px;
    }




}

@media all and (max-width: 1171px) { /* your content here */ 

    .blog-contents{

        flex-direction: column;
    }
    .content-inner{

        flex-direction: column;
    }
    .blog-contents .right{
        width: 60%;
    }



}

@media all and (max-width: 1009px) { /* your content here */ 

    .blogs-single-item{

        width: 45%;
        margin-left: 10px;
    }


}

@media all and (max-width: 717px) { /* your content here */ 

    .blog-contents .right{
        width: 80%;
    }

    .blog-contents .left{
        width: 80%;
    }
    .blog-contents .left h1{

        font-size: 20px;
    }
    .blog-snippet{
        width: 80%;
    }
    .blog-contents{
        top: 300px;
    }
    .hero-title h1{
        font-size: 30px;
    }



}

@media all and (max-width: 516px) { /* your content here */ 

    .blog-contents{
        top: 200px;
    }
    .blog-contents .left{
        width: 100%;
    }
    .blog-snippet{
        width: 100%;
    }


}

@media all and (max-width: 420px){

    .blogs-single-item{

        width: 90%;
        margin-left: 20px;
    }
    .blog-contents{
        top: 100px;
    }
    .hero-buttons{
        width: 80%;
    }
    .featured-blog{
       max-height: 593px;
    }
    .hero-title h1{
        font-size: 20px;
    }
    .hero-description{

        width: 80%;
    }
    .tag-btn1, .tag-btn2{

        display: none;
    }
    
}



@media all and (max-width: 770px) { 

    .blog-contents .right{
        width: 100%;
    }

    .blog-contents .left{
        width: 100%;
    }
    

}