.cover-image{

    width: 100%;
    /* height: 400px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    height: 400px;
}
.cover-image-inner {

    width: 100%;
    height: 200px;
    overflow: hidden;
    opacity: 0.8;
    background-color: black;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.cover-image-inner {

    max-width: 100%;
    max-height: 100%;
}
.profile-card{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-card-inner{

    width: 80%;
    height: 200px;
    background-color: var(--white-color);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.322);
    border: 2px solid lightgray;
}
.profile-image{

    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.322);
    overflow: hidden;
}
.profile-image img{
    max-width: 100%;
    max-height: 150px;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    /* box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.322); */
}
.author-details{

    width: 70%;
    height: 200px;
    overflow: hidden;
    max-height: 200px;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-overflow: ellipsis;
    margin-left: 20px;
}
.author-details h2{

    margin-bottom: 10px;
    color: var(--black-text);
}
.author-details p{
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black-text);
}
.website{
    display: flex;
    width: 100%;
    /* align-items: center; */
    color: var(--black-text);
}
.website a{
    color: var(--black-text);
    /* text-decoration: none; */
    margin-left: 10px;
}
.name-badge{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.badge{
    /* padding-bottom: 15px; */
    color: blue;
    margin-left: 5px;
}
.pd-btm{
    padding-bottom: 10px;
    color: blue;
    margin-left: 15px;
}
.buy-me-cofee{

    width: 10%;
    height: 150px;
    display: flex;
    align-items: flex-start;

}
.buy-me-cofee img{
    max-width: 100%;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.322);
}
.joined{
    font-size: 10px;
}
.no-blog{

    width: 100%;
   color: var(--black-text);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}


@media all and (max-width: 723px){

.profile-card-inner{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 400px;
    align-items: flex-start;
}
.for-profile{

    margin-top: 121px;
}

.author-details{

    height: 300px;
    width: 90%;
    max-width: 90%;
    margin-top: 10px;
}
.author-details p{
    width: 100%;
}

}